
<h2>Add new Customer</h2>

<form>
<table>
  <tr>
    <td>
      <span>Customer First Name:</span>
    </td>
    <td>
      <input [(ngModel)]="this.newCustomer.firstName" name="newCustomerFirstName" required minlength="2" maxlength="30" type="text" />
    </td>
  </tr>
  <tr>
    <td>
      <span>Customer Last Name: </span>
    </td>
    <td>
      <input [(ngModel)]="this.newCustomer.lastName" required minlength="2" maxlength="30" name="newCustomerLastName" type="text" />
    </td>
  </tr>
  <tr>
    <td>
      <span>Customer Account Number: </span>
    </td>
    <td>
      <input [(ngModel)]="this.newCustomer.accountNo" minlength="4" maxlength="4" name="newCustomerAccountNo" type="text" />
    </td>
  </tr>
</table>
<input type="submit" (click)="this.saveNewCustomer()" value="Save" />
</form>
