
<h2>Add new Customer</h2>

<table>
  <tr>
    <td>
      <span>Customer First Name:</span>
    </td>
    <td>
      <input [(ngModel)]="this.newCustomer.firstName" name="newCustomerFirstName" type="text" />
    </td>
  </tr>
  <tr>
    <td>
      <span>Customer Last Name: </span>
    </td>
    <td>
      <input [(ngModel)]="this.newCustomer.lastName" name="newCustomerLastName" type="text" />
    </td>
  </tr>
  <tr>
    <td>
      <span>Customer Account Number: </span>
    </td>
    <td>
      <input [(ngModel)]="this.newCustomer.accountNo" name="newCustomerAccountNo"type="text" />
    </td>
  </tr>
</table>
<button (click)="this.saveNewCustomer()">Save</button>
